#app {
    
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(18,59,57,1) 73%, rgba(20,80,93,1) 100%);
    text-align: center;
}

.page-content {
}

.navigation{
    width: 100%;
    position: absolute;
    bottom: 11px;
    text-align: center;
    z-index: 999;
}

.logo {
    width: 40px;
    top: 10px;
    position:absolute;
    z-index: 99;
}

/* bootstrap slider */
#carousel-1 .sr-only {
    display: none;
}
#carousel-1 img {
    object-fit: cover;
    height: 408px;
}

/* bootstrap buttons navigation */
.navigation-comp .btn-outline-primary {
    color:#144d58;
    border-color: #144d58;
}
.btn-check:checked + .btn-outline-primary {
    color: #fff;
    background-color: #144d58;
    border-color: #144d58;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #144d58;
    border-color: #144d58;
}
.btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus {
    box-shadow: none
}
.btn-outline-primary:active,
#btnradio4:active {
    background-color: #144d58;
}