#app {
    
}

body {
    /* background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(18,59,57,1) 73%, rgba(20,80,93,1) 100%);
    text-align: center; */
    animation-name: welcome-body;
    animation-duration: 4s;
    background-color: #212529;
    color: white;
}

.page-content {
}

.logo {
    width: 40px;
}

.navigation {
   box-shadow: 0px 6px 20px 0px #121417;
   z-index: 999;
}

.get-to-know {
}
.get-to-know__text {
    text-align: center;
    animation-name: get-to-know__text-anim;
    animation-duration: 4s;
    font-size: 72px;
    font-weight: 100;
    width: 100%;
    height: 100%;
    color: white;
    margin-top: 60px;
    transition: 0.3s;
}
.get-to-know:hover .get-to-know__text {
    color: black;
    background-color: teal;
    transition: 0.3s;
    cursor: pointer;
}
.get-to-know:active .get-to-know__text {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 42, 42);
    transition: 0.1s;
    cursor: pointer;
}

.info {
    background-color: red;
    width: 100%;
    position: absolute;
    top: 60px;
    height: 100%;
    z-index: 998;
    border-radius: 20px;
    padding: 21px;
}
.info_box {
    background-color: #ffff009c;
}

 
/* SCROLL BAR PAGE */
    ::-webkit-scrollbar {
    width: 10px;
    position: absolute;
    }
    ::-webkit-scrollbar-track {
    background: #000000; 
    border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb:hover {
    background: #555; 
    }

/* bootstrap navbar */
    .navbar {
        padding: 0 20px;
        height: 50px;
    }
    .nav-btn {
        text-decoration: none;
        color: #fff8fa;
        transition: 0.3s;
    }
    .nav-btn:hover {
        color: #5fa5b5;
        transition: 0.3s;
    }
    .router-link-active {
        color: #75c7da;
        transition: 0.3s;
    }
    #navbarNav {
        flex-flow: row-reverse;
    }
    .navbar-brand {
        color: #5fa5b5;
        text-shadow: 0 0 18px #0dcaf;
    }
/* bootstrap slider */
    #carousel-1 .sr-only {
        display: none;
    }
    #carousel-1 img {
        object-fit: cover;
        height: 408px;
        filter: brightness(0.5);
    }
    .carousel {
        box-shadow: 0px 0px 20px 2px #121417;
        margin-top: 60px;
    }
    .carousel-caption h3,
    .carousel-caption p {
        font-weight: 300;
    }

/* bootstrap buttons navigation */
    .navigation-comp .btn-outline-primary {
        color:#144d58;
        border-color: #144d58;
    }
    .btn-check:checked + .btn-outline-primary {
        color: #fff;
        background-color: #144d58;
        border-color: #144d58;
    }
    .btn-outline-primary:hover {
        color: #fff;
        background-color: #144d58;
        border-color: #144d58;
    }
    .btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus {
        box-shadow: none
    }
    .btn-outline-primary:active,
    #btnradio4:active {
        background-color: #144d58;
    }



/* ANIMATIONS */
    @keyframes  get-to-know__text-anim {
        0%   {color:rgb(255, 255, 255);}
        50%  {color:rgb(255, 255, 255); text-shadow: 0 0 18px rgb(255, 255, 255);} 
        100% {color:rgb(255, 255, 255);}
    }
    @keyframes welcome-body {
        0%   {background-color:#212529;}
        50%  {background-color:rgb(42, 42, 42);}
        100% {background-color:#212529;}
    }
      
    